<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gov.gzaudit.performanceAppraise.dao.appraiseContent.AppraiseContentMapper" >
  <resultMap id="BaseResultMap" type="cn.gov.gzaudit.performanceAppraise.pojo.appraiseContent.AppraiseContent" >
    <id column="APPRAISE_CONTENT_ID" property="appraiseContentId" jdbcType="VARCHAR" />
    <result column="ITEMS" property="items" jdbcType="VARCHAR" />
    <result column="APPRAISE_OBJECT" property="appraiseObject" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="REQUIREMENT" property="requirement" jdbcType="VARCHAR" />
    <result column="STANDARD_SCORE" property="standardScore" jdbcType="NUMERIC" />
    <result column="DEDUCT_POINTS_ITEMS" property="deductPointsItems" jdbcType="VARCHAR" />
    <result column="SORT_FLAG" property="sortFlag" jdbcType="NUMERIC" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    APPRAISE_CONTENT_ID, ITEMS, APPRAISE_OBJECT, CONTENT, REQUIREMENT, STANDARD_SCORE, 
    DEDUCT_POINTS_ITEMS, SORT_FLAG, UPDATE_USER, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_APPRAISE_CONTENT
    where APPRAISE_CONTENT_ID = #{appraiseContentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_APPRAISE_CONTENT
    where APPRAISE_CONTENT_ID = #{appraiseContentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.gov.gzaudit.performanceAppraise.pojo.appraiseContent.AppraiseContent" >
    insert into T_APPRAISE_CONTENT (APPRAISE_CONTENT_ID, ITEMS, APPRAISE_OBJECT, 
      CONTENT, REQUIREMENT, STANDARD_SCORE, 
      DEDUCT_POINTS_ITEMS, SORT_FLAG, UPDATE_USER, 
      UPDATE_TIME)
    values (#{appraiseContentId,jdbcType=VARCHAR}, #{items,jdbcType=VARCHAR}, #{appraiseObject,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{requirement,jdbcType=VARCHAR}, #{standardScore,jdbcType=NUMERIC}, 
      #{deductPointsItems,jdbcType=VARCHAR}, #{sortFlag,jdbcType=NUMERIC}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.gov.gzaudit.performanceAppraise.pojo.appraiseContent.AppraiseContent" >
    insert into T_APPRAISE_CONTENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appraiseContentId != null" >
        APPRAISE_CONTENT_ID,
      </if>
      <if test="items != null" >
        ITEMS,
      </if>
      <if test="appraiseObject != null" >
        APPRAISE_OBJECT,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="requirement != null" >
        REQUIREMENT,
      </if>
      <if test="standardScore != null" >
        STANDARD_SCORE,
      </if>
      <if test="deductPointsItems != null" >
        DEDUCT_POINTS_ITEMS,
      </if>
      <if test="sortFlag != null" >
        SORT_FLAG,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appraiseContentId != null" >
        #{appraiseContentId,jdbcType=VARCHAR},
      </if>
      <if test="items != null" >
        #{items,jdbcType=VARCHAR},
      </if>
      <if test="appraiseObject != null" >
        #{appraiseObject,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="requirement != null" >
        #{requirement,jdbcType=VARCHAR},
      </if>
      <if test="standardScore != null" >
        #{standardScore,jdbcType=NUMERIC},
      </if>
      <if test="deductPointsItems != null" >
        #{deductPointsItems,jdbcType=VARCHAR},
      </if>
      <if test="sortFlag != null" >
        #{sortFlag,jdbcType=NUMERIC},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.gov.gzaudit.performanceAppraise.pojo.appraiseContent.AppraiseContent" >
    update T_APPRAISE_CONTENT
    <set >
      <if test="items != null" >
        ITEMS = #{items,jdbcType=VARCHAR},
      </if>
      <if test="appraiseObject != null" >
        APPRAISE_OBJECT = #{appraiseObject,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="requirement != null" >
        REQUIREMENT = #{requirement,jdbcType=VARCHAR},
      </if>
      <if test="standardScore != null" >
        STANDARD_SCORE = #{standardScore,jdbcType=NUMERIC},
      </if>
      <if test="deductPointsItems != null" >
        DEDUCT_POINTS_ITEMS = #{deductPointsItems,jdbcType=VARCHAR},
      </if>
      <if test="sortFlag != null" >
        SORT_FLAG = #{sortFlag,jdbcType=NUMERIC},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where APPRAISE_CONTENT_ID = #{appraiseContentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.gov.gzaudit.performanceAppraise.pojo.appraiseContent.AppraiseContent" >
    update T_APPRAISE_CONTENT
    set ITEMS = #{items,jdbcType=VARCHAR},
      APPRAISE_OBJECT = #{appraiseObject,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      REQUIREMENT = #{requirement,jdbcType=VARCHAR},
      STANDARD_SCORE = #{standardScore,jdbcType=NUMERIC},
      DEDUCT_POINTS_ITEMS = #{deductPointsItems,jdbcType=VARCHAR},
      SORT_FLAG = #{sortFlag,jdbcType=NUMERIC},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where APPRAISE_CONTENT_ID = #{appraiseContentId,jdbcType=VARCHAR}
  </update>
</mapper>